/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero
  margin-top 100px!important
  margin-bottom 70px!important

.home .hero img
  max-width 250px!important

.home .hero .description
  margin 70px auto!important
  margin-top 20px !important
  line-height 1.75em!important
  max-width 31.5rem!important
